body {
  font-family: "Raleway", sans-serif;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/pexels-cottonbro-5474023.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;

}
header .p{
  font-size: small;
}


/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 0px;
  object-fit: contain;
}
#Mis-trabajos {
  background-image: url(../img/Trabajos.jpg);
  background-position: center;
}

/* Contacto */


#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}

